body {
    font-family: cursive;
    margin: 0;
    background-color:black;
  }
  
  header {
    background-color:red;
    color:white;
    padding: 10px;
    text-align: center;
  }
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
    color: white;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    color: white;
  }
  
  .hero {
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 48px;
    margin: 0;
    color: white;
  }
  
  .hero p {
    font-size: 24px;
    margin: 20px 0;
    color: white;
  }
  
  .products {
    margin: 50px 0;
    
  }
  
  .products h2 {
    text-align: center;
  }
  
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .products li {
    margin: 0 20px;
    text-align: center;
  }
  
  .products img {
    width: 200px;
    height: 200
  }
  h2{
    font-style: italic;
    font-size: large;
    font-weight: 100;
    font-stretch: expanded;
    color: white;
  }
  section{
    text-align: center;
    text-decoration: wavy;
    color: white;
  }
  footer{
    background-color:red;
    text-align: center;
    color: white;
  }